.home_container {
  padding-top: 20px;
}


.movie-filter {
  background: rgba(12, 31, 45, 0.45);
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.07);
  margin-top: 3rem;
  padding: 0.5rem 0;
}

.filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.filters li {
  margin-left: 2rem;
}

.filters .filter-item {
  color: #000;
  margin-bottom: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  display: block;
  border-bottom: 2px solid transparent;  
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
}

.filters .filter-item:active,
.filters .filter-item:focus {
  outline: none;
}

.filters .filter-item:hover {
  color: #f44336;
  text-decoration: none;
  border-bottom: 2px solid #f44336;
}

.filter-active {
  color: #f44336 !important;
  text-decoration: none;
  border-bottom: 2px solid #f44336 !important;
}
